# --- NEXUSLOB PRODUCTION GITIGNORE ---
.vs/
out/
build/
CMakeSettings.json
CompilerIdCXX/

# Binary and Build Artifacts
*.exe
*.obj
*.pdb
*.ilk

# --- DEMO DATA RULES ---
# Ignore everything inside the data directory
data/